@import "tailwindcss";
@theme {
  --color-primary: #000000;
  --color-secondary: #FFFFFF;
  --color-accent: #D4AF37;
  --color-hoverAccent: #B8860B;
  --color-neutralBg: #F5F5F5;
  --color-textDark: #1A1A1A;
  --color-success: #25D366;
}